{% extends 'base.html' %}
{% block content %}
<!doctype html>
<section class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<body>
    <main role="main" class="container">
      <div class="container">
        <h3 class="jh3 mb-3 font-weight-normal">Search Student Name</h3>
      </div>

      <form method = "POST" action = "{% url 'home' %}" enctype = "multipart/form-data">
      {% csrf_token %}

      <input class="form-control form-control-dark w-100" type="text" name = "namequery" autocomplete="off"/>
        <input class="btn btn-primary my-2" type="submit" value="Search">
        <button class="btn btn-secondary my-2" type="button" data-toggle="collapse" data-target="#advancesearch" aria-expanded="false" aria-controls="dvancesearch">
          More Search Options
        </button>
        <div class="collapse" id="advancesearch">
          <div class="card card-body">
            <table class="table table-borderless">
              <tr>
                <div class="">
                  <label class="my-0" for="parent">Parent Name</label>
                  <input class="form-control form-control-sm" type="text" id="parent" name="parent" autocomplete="off"/>
                  <br>
                </div>
              </tr>
              <tr>
                <td>
            <select class="custom-select d-block w-100" name="instrument" id="instrument">
              <option value="">Select Instrument</option>
              {% for instrument in instruments %}
              <option value = {{instrument.id}}>{{instrument.instrument}}</option>
              {% endfor %}
              <div class="invalid-feedback">
                Please select instrument.
              </div>
            </select>
          </td>

              <td>
            <select class="custom-select d-block w-100" name="instructor" id="instructor">
              <option value="">Select Teacher</option>
              {% for teacher in teachers %}
              <option value = {{teacher.id}}>{{teacher.name}}</option>
              {% endfor %}
              <div class="invalid-feedback">
                Please select teacher.
              </div>
            </select>
          </td>
        </tr>
          </table>
          </div>
        </div>
    </main><!-- /.container -->
  </section>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

{% if students_name %}
  <ul>
  {% for student in students_name %}
    <li class="nav-item"><a href="{{ student.get_absolute_url }}">{{ student.first_name}} {{student.last_name}}</li>

  {% endfor %}
  </ul>

{% else %}
  {% if searchfired %}
    <p class="nav-item"> No record matched your search criteria.</p>
  {% endif %}
{% endif %}

{% endblock %}
